<!-- <app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="tabs-wrapper">
                <div class="container">
                    <ul class="list-group mt-0 list-group-horizontal">
                        <li class="pr-2">
                            <a class="nav-link" [routerLink]="['/add-employee']" routerLinkActive="active">Add
                                Employee/a>
                        </li>
                        <li class="pr-2">
                            <a class="nav-link" [routerLink]="['/search-employee']" routerLinkActive="active">Search
                                Employee</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="employee-wrapper mt-3">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div> -->
hiiiiii

<!-- <a routerLink="/add-employee">Heroes</a>
<router-outlet></router-outlet> -->