.employee-wrapper{
    margin-left: 2% !important;
    margin-top: 72px !important;
    justify-content: center;
}
  main{
    min-height: 80vh;
  }
  .tabs-wrapper {
    box-shadow: none !important;
    ul{
        li{
            list-style: none;
        }
    }      
}
.employee-outlet{
    padding-left:15% ;
}