.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f9fa ;
    overflow-x: hidden;
    padding-top: 5%;
    a{
        padding: 26px 0 0 26px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        &:hover{
            color: black;
        }
    }
  }
  
 
  