<!----------------------------------------------------------------------------->
<!--                           if no data in table                           -->
<!----------------------------------------------------------------------------->

<div *ngIf="this.allEmp.length == 0;" class="search-employee_no-data">

    <div class="search-employee_no-data_paragraph">
        <p>There is no employee right now please create a new one!</p>
    </div>
    <div class="search-employee_no-data_create-new">
        <button class="btn  btn-primary" routerLink="/add-employee">Add
            Employee</button> </div>
</div>

<!----------------------------------------------------------------------------->
<!--                           if exist data in table                        -->
<!----------------------------------------------------------------------------->

<section class="search-employee-wrapper" *ngIf="this.allEmp.length != 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]="EmpSearchForm" (ngSubmit)="search(EmpSearchForm)">
                    <div class="row align-items-center">

                        <!----------------------------------------------------------------------------->
                        <!--                                 Emp NAme                                -->
                        <!----------------------------------------------------------------------------->

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Empname">Employee Name</label>
                                <input formControlName="Empname" type="text" class="form-control" id="Empname"
                                    placeholder="Name" required>
                            </div>
                        </div>

                        <!----------------------------------------------------------------------------->
                        <!--                                 Department                              -->
                        <!----------------------------------------------------------------------------->

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="departmentemp">Department</label>
                                <select formControlName="department" class="custom-select d-block w-100"
                                    id="departmentemp" required>
                                    <option selected>Choose...</option>
                                    <option value="Development">Development</option>
                                    <option value="Design">Design</option>
                                    <option value="Testing">Testing</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 button-search">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <!----------------------------------------------------------------------------->
            <!--                                 Table                                   -->
            <!----------------------------------------------------------------------------->
            <div class="col-md-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" (click)="CheckAllOptions($event.target.checked)"></th>
                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>Department</th>
                            <th>Gender</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of allEmp">
                            <td><input type="checkbox" [checked]="employee.checked"></td>
                            <th>{{ employee.code }}</th>
                            <td>{{ employee.name }} </td>
                            <td>{{ employee.department }}</td>
                            <td>{{ employee.gender }}</td>
                            <td>{{ employee.birthday }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>